
/* common css start now */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;  
}
.btn-primary{
    background-color:#FD6E0A ;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.section-title{
color: #181818;
font-size: 35px;
font-weight: 700;
text-align: center;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main > section{
    margin-top: 110px;
}
/* navbar css start now */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}
.nav-title{
color: #181818;
font-size: 45px;
font-weight: 800;
}

.r-color{
color: #FD6E0A;
font-size: 45px;
font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
        /* Header related css */
.header{
background-color: #FFF8F3;
background-image: url(../media/header_bg.png);
background-repeat: no-repeat;
background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner-content{
    max-width: 500px;
}
.banner.profile-picture{
    width: 450px;
    height: 450px;
}
.banner-title{
color: #474747;
 font-size: 45px;
 font-weight: 600;
}
.banner-head{
color: #181818;
 font-size: 85px;
 font-weight: 700;
}
.banner-pera{
color: #757575;
 font-size: 18px;
 font-weight: 400;
 line-height: 30px;
}
.btn-one{
color: white;
font-size: 20px;
font-weight: 700;
padding: 15px;
margin-right:20px ;
}
/* main section css start now */
/* about section css */
.about{
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0px;
}
.about-description{
color: #757575;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.section-description{
    color: #757575;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 30px;

}
.skills{
background: white;
box-shadow: -2px 2px 22px 10px rgba(94,122,33,1);
padding: 10px 15px;
border-radius: 5px;
gap: 30px;
}

.skill-title{
color: #181818;
 font-size: 20px;
 font-weight: 700;
}

.skill-description{
color: #757575;
font-size: 16px;
font-weight: 400;
}
#What-i-do{
    background-color: #FFF8F3;
}
/* resume section css start now */
.resume-container{
    display: flex;
}

.resume-column-title>h1{
color: #474747;
font-size: 30px;
font-weight: 700;
}
.resume-item-title{
color: #474747;
font-size: 25px;
font-weight: 700;
}
.resume-item-institute{
color: #757575;
font-size: 20px;
font-weight: 600;
}
.resume-description{
color: #757575;
font-size: 16px;
font-weight: 400;
}